{{!-- components/image-lazyloading src="" alt="" width="" height="" emptyPlaceholder="" --}}

{{#if emptyPlaceholder}}
  <div width="{{ width }}"
       height="{{ height }}"
       style="background: #fff; padding-top: calc({{height}}/{{width}} * 100%)">

  </div>
{{else}}
  <img class="lozad-sqip-placeholder" width="{{ width }}" height="{{ height }}"
       sqip-webpack-plugin-src="{{ src }}"
       alt="low quality image placeholder">
{{/if}}

<img class="lozad lozad-main-image js-lozad-with-sqip-placeholder" width="{{ width }}" height="{{ height }}"
     data-src="{{ src }}"
     alt="{{ alt }}">
